/* Position for the entire responsive nav block */
.responsive-nav {
  position: relative;
  top: 0.5rem;
  right: 0;
}

/**
 * Display settings for the responsive menu
 * Fixed display to take up entire screen.
 */
.responsive-nav--menu {
  padding-top: 60px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  width: 100%;
}

/* Hide full responsive menu */
#responsive-nav--check ~ .responsive-nav--menu {
  display: none;
}

/* Display the responsive menu if the hamburger is clicked */
#responsive-nav--check:checked ~ .responsive-nav--menu {
  display: block;
  z-index: 999;
}

/* Position the hamburger */
.responsive-nav--hamburger {
  position: fixed;
  top: 100px;
  right: 30px;
}

/* Position and setup the hamburger menu */
#responsive-nav--check {
  position: fixed;
  top: 100px;
  right: 30px;
  width: 40px;
  height: 32px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 10000; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/* Display for the hamburger menu */
.responsive-nav--hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;

  z-index: 9999;
}

.responsive-nav--hamburger span:first-child {
  transform-origin: 0% 0%;
}

.responsive-nav--hamburger span:nth-child(2) {
  transform-origin: 0% 100%;
}

/* Position for the X checkbox */
#responsive-nav--check:checked {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 10001;
}

/* Display for X to close hamburger */
#responsive-nav--check:checked ~ .responsive-nav--hamburger span:first-child {
  opacity: 1;
  transform: rotate(45deg) translate(0px, -9px);
}

#responsive-nav--check:checked ~ .responsive-nav--hamburger span:nth-child(3) {
  opacity: 0;
}

#responsive-nav--check:checked ~ .responsive-nav--hamburger span:nth-child(2) {
  transform: rotate(-45deg) translate(0, 9px);
}

/* Position for X to close the hamburger */
#responsive-nav--check:checked ~ .responsive-nav--hamburger {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 10000;
}

/**
 * Display settings for the wrapper.
 * Made relative so that child elements can position.
 */
.responsive-nav--wrapper {
  display: block;
}

/**
 * Display settings for the tabs.
 * Flexing here in case of multiple combined menus.
 */
.responsive-nav--tabs {
  display: flex;
}

/* Display for the individual tabs */
.responsive-nav--tab {
  font-size: 1.5rem;
  width: 100%;
  flex: auto;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #222;
  border-right: 1px solid #222;
  border-left: none;
  text-align: center;
}

.responsive-nav--tab input {
  display: none;
  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 10000;
}

.responsive-nav--tab label {
  display: block;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #222;
}

/* Don't place border on last child of the tabs */
.responsive-nav--tab:last-child {
  border-right: none;
}

/**
 * Display settings for the content section.
 */
.responsive-nav--content {
  display: block;
  position: absolute;
  width: 100%;
}

/* Background of top combined selected menu */
.responsive-nav--tab input:checked ~ label {
  background-color: #252525;
}

/* Background color of back buttons when checked */
.responsive-nav--tab .with-sub-menu input:checked ~ label {
  background-color: black;
}

/* Set content for back button */
.responsive-nav--tab .with-sub-menu label::after {
  content: "";
}

.responsive-nav--tab .with-sub-menu input:checked ~ label::after {
  content: "Back";
  margin-left: -25px;
}

/* Set position for label when checked */
.responsive-nav--tab .with-sub-menu input:checked ~ label {
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
}

/* Set position of link when checked and has a sub menu */
.responsive-nav--tab .with-sub-menu input:checked ~ a.has-sub-menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #252525;
  width: 90%;
}

/* Set position of label when checked has a sub menu */
responsive-nav--tab .with-sub-menu input:checked ~ label {
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
}

/* Positioning for first menu - so that all menus go to the left */
.responsive-nav--tab input:checked ~ .responsive-nav--content ul.menu {
  display: block;
  padding: 0;
  text-indent: 10px;
  position: fixed;
  width: 100%;
  left: 0;
}

/* Position and display for all input buttons */
.responsive-nav--content input {
  display: none;
  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 10000;
}

/* Remove all other menus except the menu titles */
.responsive-nav--content ul {
  display: none;
  width: 100%;
  list-style-type: none;
  padding: 0;
}

/* Display settings for each list item in the tabs */
.responsive-nav--content li {
  width: 100%;
  display: block;
}

.responsive-nav--content li a {
  display: block;
  width: 100%;
  border-bottom: 1px solid #222;
}

/* Display for list items with sub menu */
.responsive-nav--content li.with-sub-menu a.has-sub-menu {
  width: 90%;
  float: left;
}

/* Display for list items with no sub menu */
.responsive-nav--content li.with-sub-menu a.no-sub-menu {
  width: 100%;
  float: left;
}

/* Display settings for each menus labels */
.responsive-nav--content label {
  display: block;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #222;
  font-weight: normal;
}

.responsive-nav--content ul label {
  width: 9.9%;
  float: left;
  border-left: 1px solid #222;
}

/* Display for the icons (left and right arrows) */
.responsive-nav--content i {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 4px;
}

.responsive-nav--content i.left-arrow {
  visibility: hidden;
  transform: rotate(135deg);
}

.responsive-nav--content i.right-arrow {
  transform: rotate(-45deg);
}

.responsive-nav--content input:checked ~ ul {
  display: block;
}

/* Position for sub menu */
.responsive-nav--content ul.sub-menu {
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 1000000;
  left: -50rem;
  min-height: 500px;
  height: 100%;
  background-color: black;
}

.responsive-nav--content input:checked ~ ul.sub-menu {
  transform: translate(50rem, 0);
}

/* Show/Hide left and right arrows */
.responsive-nav--content input:checked ~ label i.right-arrow {
  visibility: hidden;
}

.responsive-nav--content input:checked ~ label i.left-arrow {
  visibility: visible;
  margin-right: 20px;
}
